
.pt-mono-regular {
    font-family: $font-pt-mono;
    font-weight: $fw-regular;
    font-style: normal;
  }

  .roboto-light {
    font-family: $font-roboto;
    font-weight: $fw-light;
    font-style: normal;
  }