// Variables de colores
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;

$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

// Variables de fuentes
$font-pt-mono: "PT Mono", monospace;
$font-roboto: "Roboto", sans-serif;

// Variables de tamaños de fuente
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

// Variables de grosor de fuente
$fw-light: 300;
$fw-regular: 400;

